#top{
    text-align: center;
}
.Aqui{
    align-self: center;
}
.thorax{
    background-image: url(https://media.istockphoto.com/photos/wood-texture-background-wood-planks-grunge-wood-painted-wooden-wall-picture-id898873206?k=6&m=898873206&s=170667a&w=0&h=sqTVXTwYHaJ6R-IBTRwwHXev2If0DXJlDEorizDsKBQ=);
    display: inline-flex;
    flex-direction: column;
}

.pht{
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: stretch;

}

.para1{
    contain: content;
    background-color: lightgrey;
}

.div1:hover{
    background-color: yellow;
    
    font-size: larger;
}
.div2:hover{
    background-color: black;
    justify-content: flex-end;
    font-size: larger;
}
.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 60px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: burlywood;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    
}
div{
    display: inline-flex;
    align-self: stretch; 
}
table{
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    align-self: stretch;
}
td{
    align-content: center;
}

th{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: xx-large;
    align-content: center;
}