#top{
    text-align: center;
}
.Aqui{
    align-self: center;
}

.navbar{
    padding: 30px, 50px;
    margin: 20px,10px;
    border-radius: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 60px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    background-color: burlywood;
}

.google :hover{
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

.about:hover{
    background-color: black;
    display: flex;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    
}
div{
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    align-self: stretch; 
}
table{
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    align-self: stretch;
}
td{
    align-content: center;
}

th{
    text-align: center;
    text-transform: uppercase;
}